<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <%- include partial/head.ejs %>
  <body>
    <%- include partial/h1.ejs %>
    <%- include partial/menu.ejs %>
    <hr>
    <h2>Data Subjects</h2>
    <%if(err){%>
      <div class="w3-container w3-red">
        <h3>No Enrolled Students</h3>
      </div>
    <%}%>
    <table border="1" class="w3-table-all w3-hoverable">
      <tr>
          <th>Id</th>
          <th>Subject Name</th>
          <th>Teacher's Name</th>
          <th>Action</th>
        </tr>
        <% data_subjects.forEach(row => { %>
        <tr>
          <td><%=row.id%></td>
          <td><%=row.subject_name%></td>
          <td>
            <% if(row.Teachers.length > 0) { %>
                <% row.Teachers.forEach((teacher, index) => { %>
                    <%= (index+1) + '. '+ teacher.first_name + ' ' + teacher.last_name%>
                    <br><br>
                <% }) %>
            <% } else {%>
              -
            <% } %>
          </td>
          <td>
            <a href="/subjects/<%=row.id%>/enrolledstudents">Enrolled Student</a>
          </td>
        </tr>
        <% }) %>
  
      </table>
      <%if(session.user.role === "Teacher") {%>
      <div align='center'>
        <form class="" action="/subjects/add" method="POST">
          <input type="text" name="subjectName" value="" placeholder="Subject Name">
          <input type="submit" value="Add">
        </form>
      </div>
      <%}%>
      <br>
    <br>
    <%- include partial/home.ejs %>
  </body>
</html>
