<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <%- include partial/head.ejs %>
  <body>
    <%- include partial/h1.ejs %>
    <hr>
    <h2>User Data</h2>
    <%if(row.avatar) {%>
      <img src="http://localhost:3000/<%=row.avatar%>" height="5%" width="5%">      
    <%} else {%>
      <p>No avatar</p>
    <%}%>
    <br>
    <br>
    <table border="1" class="w3-table-all w3-hoverable">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
      </tr>
      <tr>
        <td><%=row.id %></td>
        <td><%=row.username %></td>
        <td><%=row.password %></td>
        <td><%=row.role %></td>
      </tr>
    </table>
    <div align = 'center'>
        <form class ='' action='/useredit/<%=row.id%>' method='post' enctype = "multipart/form-data">
            <input class="w3-input" style="width:25%"  type='text' name='register_username' value='' placeholder='<%=row.username%>'>
            <input class="w3-input" style="width:25%"  type='password' name='register_password' value='' placeholder='New Password'>
            <select  class="w3-select w3-border" name= 'register_role' style='width: 25%'>
                <option value='Teacher'>Teacher</option>
                <option value='Academic'>Academic</option>
                <option value='Headmaster'>Headmaster</option>
            </select>
            <br><input type="file" name="userFile" class="w3-input" style="width:25%"/>
            <input class="w3-input" style="width:25%"  type='submit' value='Update'>
        </form>
    </div>
    <br>
    <%- include partial/home.ejs %>
  </body>
</html>
